{% extends 'blog/base.html' %}
{% load comments %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}
<article>
	<header>
		<h1> {{post.title}}</h1>
		<p>
			Posted on
			<time datetime="{{post.created|date:"c"}}">
				{{post.created|date}}
			</time>
		</p>
	</header>
	<p class="description">
		{{post.description}}
	</p>
	{{post.content|safe}}
{% render_comment_form for post %}
{% get_comment_count for post as comment_count %}
{% render_comment_list for post %}
</article>
{% endblock %}
